h1 {
    text-align:center;
}
body {
    min-height:100vh;
    margin:0;
    background-color: white;
}
#text {
    text-align:center;
    margin:100px;
}
#text p {
    display:inline-block;
    border-radius:30px;
    background-color:black;
    padding:10px;
}
#btns {
    text-align:center;
    margin:50px;
}
#btn_colors {
    margin:30px;
}